:root {
  --purple-050: #9d58eb;
  --purple-100: #cb69d4;
  --purple-200: #bf51c9;
  --purple-300: #903dc0;
  --purple-400: #8f3bb1;
  --purple-500: #8c2cb3;
  --purple-600: #851c8f;
  --purple-700: #76118f;
  --purple-800: #750780;
  --purple-900: #610769;

  --blue-grey-050: #f0f4f8;
  --blue-grey-100: #d9e2ec;
  --blue-grey-200: #bcccdc;
  --blue-grey-300: #9fb3c8;
  --blue-grey-400: #829ab1;
  --blue-grey-500: #627d98;
  --blue-grey-600: #486581;
  --blue-grey-700: #334e68;
  --blue-grey-800: #243b53;
  --blue-grey-900: #102a43;

  --turquoise-100: #158fa5;
}

ul::-webkit-scrollbar {
  width: 8px; 
}

ul::-webkit-scrollbar-thumb {
  background-color: var(--blue-grey-300); 
  border-radius: 5px; 
  border: 2px solid var(--turquoise-100); 
}

.calendar-body {
  max-width: max-content;
  margin: 0 auto 0 auto;
  padding: 1.5em;
  background: linear-gradient(217deg, var(--turquoise-100), var(--purple-050));
  border-left: 2px solid var(--blue-grey-100);
  border-right: 2px solid var(--blue-grey-100);
  border-top: none;
  border-bottom: none;
}

.month-selector {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

.month-gauge {
  color: var(--blue-grey-050);
  text-align: center;
  font-weight: 500;
}

#left-date-button {
  background-color: transparent;
  background-image: url(../../Assets/Svg/date-arrow-left.svg);
  background-size: 100% 100%;
  border: 0;
  color: white;
  height: 16px;
  width: 16px;
  margin: 5px 0 0 27px;
}

#right-date-button {
  background-color: transparent;
  background-image: url(../../Assets/Svg/date-arrow-right.svg);
  background-size: 100% 100%;
  border: 0;
  color: white;
  height: 16px;
  width: 16px;
  margin: 5px 27px 0 0;
}

.day,
.date-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day {
  margin-top: 1.25rem;
}

.day > * {
  font-size: 0.7rem;
  color: var(--blue-grey-100);
  font-weight: 500;
  letter-spacing: 0.1em;
  font-variant: small-caps;
  text-align: center;
}

.date-grid {
  margin-top: 0.5rem;
}

.date-grid button:first-child {
  grid-column: 6;
}

.date-grid button {
  position: relative;
  border: 0;
  width: 4.5ch;
  height: 4.5ch;
  border-radius: 50%;
  background-color: transparent;
  color: var(--blue-grey-200);
}

.date-grid button:hover,
.date-grid button:focus {
  outline: none;
  background-color: var(--blue-grey-050);
  color: var(--blue-grey-700);
}

.date-grid button:active,
.date-grid button.is-selected {
  background-color: var(--purple-100);
  color: var(--purple-900);
}

.date-selector {
  max-width: max-content;
  height: 50px;
  display: flex;
  justify-content: center;
  margin: 0 auto 0 auto;
  background: linear-gradient(360deg, var(--turquoise-100), var(--purple-050));
  border-top: 2px solid var(--blue-grey-100);
  border-left: 2px solid var(--blue-grey-100);
  border-right: 2px solid var(--blue-grey-100);
  border-bottom: 2px solid var(--blue-grey-100);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.selection {
    width: 17.35rem;
    height: 60px;
    display: flex;
    justify-content: center;
    margin: 0 auto 0 auto;
    background: linear-gradient(360deg, #704cd0, #5063cc);
    border-left: 2px solid var(--blue-grey-100);
    border-right: 2px solid var(--blue-grey-100);
    border-bottom: 2px solid var(--blue-grey-100);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

.bl {
    border-left: 2px solid var(--blue-grey-100);
}
